%h1 Welcome to the Putting Green!

%p
  User score:
  %span.userScore 0
  
%form.regexForm
  %span.passString aeiou
  %span.failString bfjpv
  %input.form-control.regexEntry{type: "text", placeholder: "regex here", data: {pass: 'aeiou', fail: 'bfjpv'}}
  %button.btn.btn-default{type: 'submit' } Swing!

%form.regexForm
  %span.passString 13334
  %span.failString xxooo
  %input.form-control.regexEntry{type: "text", placeholder: "regex here", data: {pass: 'aeiou', fail: 'bfjpv'}}
  %button.btn.btn-default{type: 'submit' } Swing!