// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	width: 50%;
	margin: 0 auto;
	background-color: rgba(230,230,230,.75);
}

.body-hook {
	background-color: black;
}

.holes {
	margin-top: 100px;
}
.hole { margin: 25px 0;}


#regexEntry { width: 175px;}

.regexForm {
	box-sizing: border-box;
	width: 48%;
	border: 2px solid black;
	float: left;
	padding: 5%;
	margin: 1%;
}
.regexForm input, .regexForm button{
	margin-top: 10px;
}

.iframe-gif { margin: 10px auto; display:block;}

@media all and (max-width: 820px) {
  .regexForm {
    clear: both;
    width: 98%;
  }
}